<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <title>Tasks</title>
</head>
<body>
<a href="./">VOLTAR</a>&nbsp; &nbsp; <%= dadosp[0].name.toUpperCase() %>
<br>
	<table>
	<% if (dadosp.length !== 0) { %>
			<% dadosp.forEach(function(data, index) { %>
				<tr>
				<td><center><%= data.id %></center></td>
					<td><center><%= data.status %></center></td>
					<td><center><%= data.name %></center></td>
					<td><center><%= data.created %></center></td>
					<td><center><%= data.deadline %></center></td>
					<td><center><%= data.description %></center></td>
				</tr>
			<% }); %>
		<% } %>
		<tr>
			<th>ID</th>
			<th>STATUS</th>
			<th>NOME</th>
			<th>CREATED</th>
			<th>DEADLINE</th>
			<th>DESCRIPTION</th>
		</tr>
		<% if (dadost.length !== 0) { %>
			<% dadost.forEach(function(data, index) { %>
				<tr>
					<td><center><%= data.id %></center></td>
					<td><center><%= data.status %></center></td>
					<td><center><%= data.name %></center></td>
					<td><center><%= data.created %></center></td>
					<td><center><%= data.deadline %></center></td>
					<td><center><%= data.description %></center></td>
					<td><center><a href="/t?t<%= data.id %>">Visualizar</a></center></td>
				</tr>
			<% }); %>
		<% } %>
		<form action="" method="POST"><tr>
			<td></td>
			<td><input type="text" id="status" name="status"></td>
			<td><input type="text" id="name" name="name"></td>
			<td></td>
			<td><input type="text" id="deadline" name="deadline"></td>
			<td><input type="text" id="description" name="description"></td>
			<td><button type="submit">ADICIONAR</button></td>
			<br>
		<tr></form>
	</table>
</body>
